<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Players</title>
</head>
<body>
{% extends 'index.html' %}
{%block content %}
{{ super() }}
<a href="{{url_for('create_player')}}" class="btn btn-primary">Create new player</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Balance</th>
        <th scope="col">passwrd</th>
    </tr>
    </thead>
    <tbody>
    {% for player in all_players %}
    <tr>
        <td>{{player.player_id}}</td>
        <td>{{player.balance}}</td>
        <td>{{player.passwrd}}</td>
        <td class="d-flex justify-content-end">
            <a href="{{url_for('update_player', player_id=player.player_id)}}" class="btn btn-success">Edit</a>
            <a href="{{url_for('delete_player', player_id=player.player_id)}}" class="btn btn-danger">Delete</a>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{%endblock%}
</body>
</html>